<!DOCTYPE html>
<html>
<head>
    <title>Start Page</title>
    <meta charset="utf-8"/>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/js/jquery-2.2.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body ng-app="myApp">
    <div>
        <input type="text" ng-model="name" />
        <p>Hello {{ name }}</p>
    </div>
    
    <script src="/js/angular.min.js"></script>
    <script src="/core.js"></script>
</body>
</html>
